mixin showDocumentationLink(version, sectionId, text)
  div.form-group
  small.text-muted
    a.text-muted(href='https://github.com/jhonderson/gone-man-switch/tree/' + version + sectionId, target='_blank')
      i= text
